*Makefile.in
aclocal.m4
am
*.cache
*.guess
config.h.in
config.sub
configure
dependencies.m4
*Doxyfile.in
install-sh
ltmain.sh
missing
*Makefile
config.h
*.log
*.lt
*.status
*Doxyfile
*.pc
libtool
stamp-h1
*.user
*.project
*.pydevproject
*.pyc
*.deps
*.libs
depcomp
*.lo
*.o
*.la
demos
